.leftside, .rightside{
  height: 50vh;
  width: 100%;
}
@media screen and (min-width:768px)
{
  .leftside, .rightside{
    height: 100vh;
  }
}
.leftside{
  background-color: #f6f6f6;
  position: relative;
}
.rightside{
  background-color: #f6f6f6;
  position: relative;
  padding-top: 10%;
}
.carina{
  object-fit: contain;
  height: 100%;
  filter: grayscale(100%) brightness(130%);
  

}
.bloem{
  object-fit: cover;
  height: 100%;
  filter: grayscale(100%) brightness(130%);
}
.navbar, .navbar-brand{
  /* color:black; */
  text-transform: uppercase;
  /* font-size: medium; */
  text-rendering: optimizeLegibility;
    color: #f75e25;
    letter-spacing: .10em;
    font-size: larger;
    font-weight:400;  
}
h4{
  color: #f75e25;
  letter-spacing: .09em;
  font-size: 35pt;
  font-weight:300;  
}
.navbar{
  border-bottom: 1px solid #f75e25; 
}
.body{
  font-family: 'Source Sans Pro', sans-serif;
  
  
}
.fa {
  padding: 2px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #f75e25;
  color: white;
}

.fa-twitter {
  background: #f75e25;
  color: white;
}

.fa-google {
  background: #f75e25;
  color: white;
}

.fa-linkedin {
  background: #f75e25;
  color: white;
}

.fa-youtube {
  background: #f75e25;
  color: white;
}

.fa-instagram {
  background: #f75e25;
  color: white;
}

.fa-pinterest {
  background: #f75e25;
  color: white;
}
.footer{
  position:fixed;
  bottom:0;
  margin-top:0;
}

